.navItems{
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 30px;
        margin-top:150px ;

    }

   li{
       margin-top: 30px;
       list-style: none;
   }

}
li:hover {
    color:red;
    cursor:pointer;
    transition:0.5s;
}