body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(https://gm1.ggpht.com/X_xy3HAwsU341ScnEYdRF3dPVbRmg1WSFCY4aOZeiLE2xZr8ZY4CElA0f4moYmyfK65bzLfNmCWk9mx7vJnWlYWUhNWts6BATvUtCk78ZrHjx2WTDHIYR1qe2zIGhNVOGQCcV9qqJ9cglxklr1obyLXY1BzfTBvBYrFWySQQ2r-rx7p7tBf4ut6zKTu71u5FLuBw4YLp55Y1_tiFM7Af18thRjXZ9Bw-QraanEqcwwfakIi8ylM3TbyqzAa5CqV8XlY2_7sg1ahcOmzGBH9B7FFqKROv_UDjUrmTREVBEbzopFjcSF6_bOD3oUJ5Q8WUEqefu0nBFZncWkYaMm7MZw97CUX7nGg6zeWzqrL0LxFNlXxaH0govm32bq0xD18DFPObH7zblbCEdAWHOxhdAVNTnqKzugurNFR4WHN_6FQPjDVq1C8jBEsGUAnHzlhu16cg6_loEO28IU6WigYGQqXrVdhdz9DkuQ-enjf-6CA1EGJiDd6Gchet2SyvMZ7RSSSsBEtBMGjSh6nRLXNnojsQhRwD-hsXdroGGJuev6inGorGCB5GVXtMXr6uyktSBfEHOSiu8FDfCPRCYfK0i8CCNVK_M_v_NEXVJxIBPBX79xv8XMu1bpYWGZVJCFbTaf2jFJmIXSoZ8lRoB1PZEHL66I5dF46vJKu0NJoo48QppA_68Re_fQB5AiKxv2YC5njSFCpUmjNauc-3wz7zFpHTWcQXf60hAblbLHvvweIXVZiIt6N_xMftlDz99XNg-go=s0-l75-ft-l75-ft); */
   background-color: #161748 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
